<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889447214349-lrjrrtt6dedgaqocfm1obn595tdrm5oi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889447214349-lrjrrtt6dedgaqocfm1obn595tdrm5oi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>889447214349-2ha9k764k0ipbfdopifvsmjmpsfl57gk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgjOMPKVoAuSR1Oi4vcgWpzR-UO7eFsoA</string>
	<key>GCM_SENDER_ID</key>
	<string>889447214349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.audiostoryapp</string>
	<key>PROJECT_ID</key>
	<string>my-audio-story-app</string>
	<key>STORAGE_BUCKET</key>
	<string>my-audio-story-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889447214349:ios:0175aac2cd9fea80735444</string>
</dict>
</plist>